<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="淘宝小号,淘宝小号出售,淘宝小号出售平台,淘宝小号购买" />
    <meta name="description" content="淘宝小号出售平台,在这里你可以24小时享受到淘宝小号购买，本站支付宝和财付通充值即时到帐,无需联系客服,自助交易,安全放心" />
    <meta name="baidu-site-verification" content="9tdq3I2y4q" />
    <meta http-equiv="x-ua-compatible" content="ie=8">
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
    <link href="static/css/cssproduct.css" rel="stylesheet" type="text/css">
    <link href="static/css/cssbusy.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/common.js"></script>
    <script src="static/js/wdatepicker.js" type="text/javascript"></script>
    <script language="JavaScript" type="text/JavaScript">
        <!--
        if(self!=top){top.location=self.location;
        }
        //-->
    </script>
    <title>淘宝小号在线购买-淘宝小号出售平台-淘宝小号自助交易平台</title>
    <style>
        *

        #nav {

            height: 50px;
            margin: 0 auto;
            font-size: 16px;
        }
        #nav li:hover {

            background: #000000;
        }
        .STYLE3 {color: #FFFF00}
        .STYLE4 {
            color: #FF0000;
            font-weight: bold;
        }
    </style>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="topbar"><div align="center">
            <table width="1000" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="401">
                        您好，欢迎来到淘宝小号自助交易平台，请先【<a href="reg.asp" style="color:#f00;">免费注册</a>】或者【 <a href="login.asp" style="color:#f00;">登录</a>】
                    </td>
                    <td width="157">&nbsp;</td>
                    <td width="442"><div align="right"><space class="red">平台24小时自助下单，系统自动处理订单，自主交易，安全公正，方便快捷！</space></div></td>
                </tr>
            </table>
        </div></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>
<div id="header">
    <table width="1000" height="72" border="0" bgcolor="#FFFFFF">
        <tr>
            <th width="301" rowspan="3" scope="col"><a href="index.asp"><img src="static/picture/logo.png" alt="淘宝小号" width="290" height="83" border="0" /></a></th>
            <th width="99" rowspan="3" scope="col">&nbsp;</th>
            <th width="162" bgcolor="#FFFFFF" scope="col"><div align="center" class="STYLE4">
                <div align="left">好消息:</div>
            </div></th>
            <th width="163" bgcolor="#FFFFFF" scope="col"><span class="STYLE4">
     <a href="login.asp" onclick="alert('请登录用户名（新用户请先免费注册）')"><img border="0" src="static/picture/57d70e4a11ab4cce9ef0c4661d238ddf.gif" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
            </th>
        </tr>
        <tr>
            <th colspan="2" bgcolor="#FFFFFF" scope="col"><div align="left">现在注册会员充值199元免费升级VIP！</div></th>
        </tr>
        <tr>
            <th colspan="2" bgcolor="#FFFFFF" scope="col"><div align="left">充值399元免费赠送代理，金额可以消费！</div></th>
        </tr>
    </table>
</div>
<div class="topMenu">
    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td><div align="left">
                <ul>
                    <li><a href="index.asp">网站首页</a></li>

                    <li><a href="reg.asp">用户注册</a></li>

                    <li><a href="login.asp">用户登录</a></li>

                    <li><a href="chongzhi11.asp">在线充值</a></li>

                    <li><a href="member.asp">用户中心</a></li>

                    <li><a href="channel.asp?id=3">完整购买教程</a></li>

                    <li><a href="yuanma.asp">源码出售</a></li>

                    <li><a href="/channel.asp?id=1" style="color:##fff">识别小号真实性</a></li>
                    <li><a href="/price.asp" style="color:#EEEE00">淘宝小号购买(价格表)<img src="static/picture/hot.gif" alt="淘宝小号购买"></a></li>
                </ul>
            </div></td>
        </tr>
    </table>
</div>
<!-- end of header -->
<div class="zhong1_gg">
    <div style="margin:auto; width:1000px;">

        <style type="text/css">
            #vanfonadtable a.green {color: #178517;}
            #vanfonadtable a{color:#3E3E3E;line-height: 18px;font-size: 14px;text-decoration: none;}
            #vanfonadtable a:hover {color: #FF0000;text-decoration: underline;}
            #vanfonadtable .wrapper_top_14{background: none no-repeat scroll left bottom #F58220;border-width: 0;color:

                    #FFFFFF;float: left;font-size: 14px;line-height: 14px;margin-right: 4px;margin-top: 3px;padding-top:

                    1px;text-align: center;width: 14px;}
            #vanfonadtable .anvwz{width:230px;overflow:hidden;padding-left:0px;padding-right:0px;padding-top:0px;padding-

            bottom:0px;height:18px;line-height:18px;text-align:left;font-weight:normal;float:left;}
            #vanfonadtable .green {color: #178517;}
        </style>


        <table width="1000" height="90" border="0" bgcolor="#FFCC66" cellspacing="0" cellpadding="0" id="vanfonadtable"

               style="border:1px #ddd solid; padding:5px 5px 5px 30px;">
            <tbody>
            <tr>
                <td class="ad_td">
                    <div class="wrapper_top_14">1</div>
                    <div class="anvwz"><a href="http://www.money668.com/bu.asp?id=101" target="_blank"><strong>2015年中文实名实物直登2心</strong></a></div>
                </td>
                <td class="ad_td">
                    <div class="wrapper_top_14">4</div>
                    <div class="anvwz"><a href="http://www.money668.com/bu.asp?id=116" target="_blank"><strong>2013年中文实名实物直登3心</strong></a></div>
                </td>
                <td class="ad_td">
                    <div class="wrapper_top_14">7</div>
                    <div class="anvwz"><a href="http://www.money668.com/bu.asp?id=113" target="_blank"><strong>2013年中文实名实物直登4心</strong></a></div>
                </td>
            </tr>
            <tr>
                <td class="ad_td">
                    <div class="wrapper_top_14">2</div>
                    <div class="anvwz"><a href="http://www.money668.com/bu.asp?id=102" target="_blank"><strong>2013年中文实名实物直登5心</strong></a></div>
                </td>
                <td class="ad_td">
                    <div class="wrapper_top_14">5</div>
                    <div class="anvwz"><a href="http://www.money668.com/bu.asp?id=105" target="_blank"><strong>2013年中文不实名实物1钻</strong></a></div>
                </td>
                <td class="ad_td">
                    <div class="wrapper_top_14">8</div>
                    <div class="anvwz"><a href="http://www.money668.com/bu.asp?id=115" target="_blank"><strong>近期实名高等级闲鱼号</strong></a></div>
                </td>
            </tr>
            <tr>
                <td class="ad_td">
                    <div class="wrapper_top_14">3</div>
                    <div class="anvwz"><a href="http://www.money668.com/bu.asp?id=112" target="_blank"><strong>2015年中文实名实物直登1钻</strong></a></div>
                </td>
                <td class="ad_td">
                    <div class="wrapper_top_14">6</div>
                    <div class="anvwz"><a href="http://www.money668.com/bu.asp?id=107" target="_blank"><strong>满月高质量实名微信号</strong></a></div>
                </td>
                <td class="ad_td">
                    <div class="wrapper_top_14">9</div>
                    <div class="anvwz"><a href="http://www.money668.com/price.asp" target="_blank"><strong>更多资源，请点此查看......</strong></a></div>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
    <table width="1000" height="60" border="0" align="center">
        <tr>
            <th scope="col"><a href="http://www.money668.com/price.asp" target="_blank"><img src="static/picture/banner.jpg" alt="淘宝小号出售" width="1000" height="56" border="0" /></a></th>
        </tr>
    </table>

</div>


<!-- end of header -->
</div>

<div  class="Jpay">

    <div  class="JLv">
        <div  class="Main">
            <div  class="Commodity">
                <!--右边开始--><div class="Product" style="height:352px;">
                <h3><div id="header">
                    <div class="notice12">
                        <marquee align="middle" border="0" scrolldelay="120">
                            敬告：本站严禁一切非法用途！其中包括但不限于[诈骗信息推广]、[违法违规信息推广]、[以及其他非法用途]，凡被发现用于非法用途的用户，本站将全力配合有关部门予以打击，特此通告！
                        </marquee>
                    </div></div></h3>
                <div class="Product-List">
                    <table width="994" border="0" cellspacing="0" cellpadding="0" align="center" style="margin-top: 2px;">
                        <tr>
                            <td width="333" height="33" align="center" style="background: url(static/images/index_01.jpg) repeat-x;
            color: #FF0000; font-size: 14px; font-weight: bold;">
                                <a href="news.asp?type=1" target="_blank">网站公告</a>
                            </td>
                            <td width="10">
                                &nbsp;
                            </td>
                            <td width="333" height="33" align="center" style="background: url(static/images/index_01.jpg) repeat-x;
            color: #FF0000; font-size: 14px; font-weight: bold;">
                                <a href="news.asp?type=2" target="_blank">行业资讯</a>
                            </td>
                            <td width="10">
                                &nbsp;
                            </td>
                            <td width="332" height="33" align="center" style="background: url(static/images/index_01.jpg) repeat-x;
            color: #FF0000; font-size: 14px; font-weight: bold;">
                                <a href="news.asp?type=3" target="_blank">店铺运营</a>
                            </td>
                        </tr>
                        <tr>
                            <td height="180" align="center" valign="top" style="border:#59b1db 1px solid;"><table width="92%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="5"></td>
                                    <td></td>
                                </tr>

                                <tr align="center">
                                    <ul class="ul_news">

                                <tr align="center">
                                    <td width="5px" style="border-bottom:1px dashed #ccc;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                                    <td  height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1082">相信不久会像老卖家一样有好成就</a><span class="time"><td
                                        width="80" align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-4-5]</div></td></tr>

                                <tr align="center">
                                    <td width="5px" style="border-bottom:1px dashed #ccc;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                                    <td  height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1080">建议淘宝公司招聘小二测试下智商</a><span class="time"><td
                                        width="80" align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-4-3]</div></td></tr>

                                <tr align="center">
                                    <td width="5px" style="border-bottom:1px dashed #ccc;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                                    <td  height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1078">淘宝女店主看看有没有人能帮助她</a><span class="time"><td
                                        width="80" align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-3-31]</div></td></tr>

                                <tr align="center">
                                    <td width="5px" style="border-bottom:1px dashed #ccc;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                                    <td  height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1076">淘宝月牙泉的象征到底是什么样呢</a><span class="time"><td
                                        width="80" align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-3-28]</div></td></tr>

                                <tr align="center">
                                    <td width="5px" style="border-bottom:1px dashed #ccc;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                                    <td  height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1074">马云说过他最讨厌官僚作风踢皮球</a><span class="time"><td
                                        width="80" align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-3-26]</div></td></tr>

                                <tr align="center">
                                    <td width="5px" style="border-bottom:1px dashed #ccc;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                                    <td  height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1072">选择合适产品坚持下去定会有所成</a><span class="time"><td
                                        width="80" align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-3-24]</div></td></tr>

                                <tr align="center">
                                    <td width="5px" style="border-bottom:1px dashed #ccc;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                                    <td  height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1070">一个中小卖家的淘宝店铺奋斗历程</a><span class="time"><td
                                        width="80" align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-3-22]</div></td></tr>

                                <tr align="center">
                                    <td width="5px" style="border-bottom:1px dashed #ccc;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                                    <td  height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1068">315淘宝刷单被查接下来怎么操作</a><span class="time"><td
                                        width="80" align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-3-20]</div></td></tr>

                                <tr align="center">
                                    <td width="5px" style="border-bottom:1px dashed #ccc;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                                    <td  height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1066">一淘宝老人给新手卖家的一些忠告</a><span class="time"><td
                                        width="80" align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-3-18]</div></td></tr>

                                <tr align="center">
                                    <td width="5px" style="border-bottom:1px dashed #ccc;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                                    <td  height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1064">说说一个人经营企业店铺的苦逼路</a><span class="time"><td
                                        width="80" align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-3-16]</div></td></tr>

                                </ul>
                </div>
            </div>

                <div class="index_new 1">
                    <div class="con">
                        </table></td>
                        <td>&nbsp;</td><td height="200" align="center" valign="top" style="border:#59B1db 1px solid;"><table width="92%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td height="5"></td>
                            <td></td>
                        </tr>

                        <tr align="center">
                            <ul class="ul_news">

                        <tr align="center">
                            <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                            <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1081">越来越多的人把淘宝当做一番事业</a><span class="time"><td width="80"
                                                                                                                                                                                  align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-4-4]</div></td></tr>

                        <tr align="center">
                            <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                            <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1079">突然间萧条的改变让我更懂得学习</a><span class="time"><td width="80"
                                                                                                                                                                                  align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-4-1]</div></td></tr>

                        <tr align="center">
                            <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                            <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1077">淘宝小号购买关于商标侵权那些事</a><span class="time"><td width="80"
                                                                                                                                                                                  align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-3-29]</div></td></tr>

                        <tr align="center">
                            <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                            <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1075">修改淘宝小号属性影响宝贝权重吗</a><span class="time"><td width="80"
                                                                                                                                                                                  align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-3-27]</div></td></tr>

                        <tr align="center">
                            <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                            <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1073">淘宝店铺的排名是根据什么排的呢</a><span class="time"><td width="80"
                                                                                                                                                                                  align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-3-25]</div></td></tr>

                        <tr align="center">
                            <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                            <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1071">目标还有很远还有很长一段路要走</a><span class="time"><td width="80"
                                                                                                                                                                                  align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-3-23]</div></td></tr>

                        <tr align="center">
                            <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                            <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1069">达人为淘宝小号店铺带来众多利好</a><span class="time"><td width="80"
                                                                                                                                                                                  align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-3-21]</div></td></tr>

                        <tr align="center">
                            <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                            <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1067">爱好手工开了一家属于自己淘宝店</a><span class="time"><td width="80"
                                                                                                                                                                                  align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-3-19]</div></td></tr>

                        <tr align="center">
                            <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                            <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1065">淘宝小号一个时刻打脸的奇葩买家</a><span class="time"><td width="80"
                                                                                                                                                                                  align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-3-17]</div></td></tr>

                        <tr align="center">
                            <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon01.gif" alt="淘宝小号出售" width="3" height="5" /></td>
                            <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1063">被违规枉法裁判判为恶意骚扰成立</a><span class="time"><td width="80"
                                                                                                                                                                                  align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2017-3-15]</div></td></tr>

                        </ul>
                    </div>
                </div>

                <div class="index_new 2">
                    <div  class="con">

                        </table></td>
                        <td>&nbsp;</td>
                        <td height="220" align="center" valign="top" style="border:#59b1db 1px solid;"><table width="92%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="5"></td>
                                <td></td>
                            </tr>
                            <tr align="center">
                                <ul class="ul_news">

                            <tr align="center">
                                <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon02.jpg" alt="淘宝小号出售" width="3" height="5" /></td>
                                <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1479">淘宝怎能把担保的责任和义务抛到脑后</a><span class="time"><td width="80"
                                                                                                                                                                                        align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2018-5-29]</div></td></tr>

                            <tr align="center">
                                <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon02.jpg" alt="淘宝小号出售" width="3" height="5" /></td>
                                <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1478">自己产品有信心只是很多时候不能左右</a><span class="time"><td width="80"
                                                                                                                                                                                        align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2018-5-28]</div></td></tr>

                            <tr align="center">
                                <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon02.jpg" alt="淘宝小号出售" width="3" height="5" /></td>
                                <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1477">标题是你的宝贝是否有流量重要的因素</a><span class="time"><td width="80"
                                                                                                                                                                                        align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2018-5-27]</div></td></tr>

                            <tr align="center">
                                <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon02.jpg" alt="淘宝小号出售" width="3" height="5" /></td>
                                <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1476">经营好店铺和用心善待我的每一位客户</a><span class="time"><td width="80"
                                                                                                                                                                                        align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2018-5-26]</div></td></tr>

                            <tr align="center">
                                <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon02.jpg" alt="淘宝小号出售" width="3" height="5" /></td>
                                <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1475">店铺上架以后的宝贝千万不要乱改标题</a><span class="time"><td width="80"
                                                                                                                                                                                        align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2018-5-25]</div></td></tr>

                            <tr align="center">
                                <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon02.jpg" alt="淘宝小号出售" width="3" height="5" /></td>
                                <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1474">开店心酸只有我们网商可以体会的到了</a><span class="time"><td width="80"
                                                                                                                                                                                        align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2018-5-24]</div></td></tr>

                            <tr align="center">
                                <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon02.jpg" alt="淘宝小号出售" width="3" height="5" /></td>
                                <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1473">带着微笑在成长的路上寻找自己的美好</a><span class="time"><td width="80"
                                                                                                                                                                                        align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2018-5-23]</div></td></tr>

                            <tr align="center">
                                <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon02.jpg" alt="淘宝小号出售" width="3" height="5" /></td>
                                <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1472">淘宝店铺申诉规则文字游戏玩法太害人</a><span class="time"><td width="80"
                                                                                                                                                                                        align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2018-5-22]</div></td></tr>

                            <tr align="center">
                                <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon02.jpg" alt="淘宝小号出售" width="3" height="5" /></td>
                                <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1471">大家都是一直在竞争更多的是价格竞争</a><span class="time"><td width="80"
                                                                                                                                                                                        align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2018-5-21]</div></td></tr>

                            <tr align="center">
                                <td width="5px" style="border-bottom:1px #cccccc dashed;"><img src="static/picture/icon02.jpg" alt="淘宝小号出售" width="3" height="5" /></td>
                                <td height="25" align="left" style="border-bottom:1px #cccccc dashed;">&nbsp;<a href="newsinfo.asp?id=1470">只有用心做好产品，销量会慢慢上去的</a><span class="time"><td width="80"
                                                                                                                                                                                        align="left" style="border-bottom:1px #cccccc dashed;"><div style="color:#FF0000">[2018-5-20]</div></td></tr>

                            </ul>
                    </div>
                </div>


                <div class="index_new 3">
                    <div class="con">
                        <table></td>
                            </tr>
                        </table>
                        <!--end of pagebody--></tr>
                        <table width="1003" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#efefef" style="margin-top:0px;">
                            <tr><div id="footer">
                                <div class="footMenu">
                                    <ul>
                                        <li><a href="http://www.money668.com/">淘宝小号购买</a></li>
                                        <li>|</li>
                                        <li><a href="http://www.money668.com/">淘宝小号出售平台</a></li>
                                        <li>|</li>
                                        <li><a href="http://www.money668.com/">实名支付宝出售平台</a></li>
                                    </ul>
                                </div>

                                <SCRIPT language=javascript>
                                    function click() {
                                        if (event.button==2) {
                                            alert(\'对不起,禁止使用此功能^_^.\')
                                        }
                                    }
                                    document.onmousedown=click
                                </SCRIPT>
                                <script language="JavaScript">
                                    <!--
                                    locate = 0;
                                    function scroller() {
                                        if (locate !=500 ) {
                                            locate++;
                                            scroll(0,locate);
                                            clearTimeout(timer);
                                            var timer = setTimeout("scroller()",3);
                                            timer;
                                        }
                                    }
                                    // -->
                                </script>


                                <table width="1003" border="0" cellspacing="0" cellpadding="0" style="margin-top: 10px;"
                                       align="center">
                                    <tr>
                                        <td align="center">
                                            <img src="static/picture/index_06.jpg" alt="淘宝小号" width="880" height="55" />
                                        </td>
                                    </tr>
                                </table>
                                <div class="copyright">
                                    Copyright © money668.com All RightsReserved版权所有        工信部ICP备案/许可证号：豫ICP备11024164号
                                </div>
                                <!-- end of footer --><div style="display:none;"><script>
                                var _hmt = _hmt || [];
                                (function() {
                                    var hm = document.createElement("script");
                                    hm.src = "https://hm.baidu.com/hm.js?1740c34d6bba70c6c19c757d76b24204";
                                    var s = document.getElementsByTagName("script")[0];
                                    s.parentNode.insertBefore(hm, s);
                                })();
                            </script>
                            </div>
                                <!-- end of footer -->
</body>
</html>

<div id="copyright"></div>
</tr>
</table>
<style type="text/css">
    *

        /* leftsead */
    #leftsead{width:131px;height:143px;position:fixed;top:258px;right:0px;}
    *html #leftsead{margin-top:258px;position:absolute;top:expression(eval(document.documentElement.scrollTop));}
    #leftsead li{width:131px;height:60px;}
    #leftsead li img{float:right;}
    #leftsead li a{height:49px;float:right;display:block;min-width:47px;max-width:131px;}
    #leftsead li a .shows{display:block;}
    #leftsead li a .hides{margin-right:-143px;cursor:pointer;cursor:hand;}
    #leftsead li a.youhui .hides{display:none;position:absolute;right:190px;top:2px;}
</style>

<div id="leftsead">
    <ul>


        <li><a href="member.asp"><img src="static/picture/ll03.png" alt="淘宝小号购买" width="131" height="49" class="hides"/><img src="static/picture/l03.png" alt="淘宝小号购买" width="47"
                                                                                                                             height="49" class="shows" /></a></li>
        <li><a href="chongzhi11.asp"><img src="static/picture/ll02.png" alt="淘宝小号购买" width="131" height="49" class="hides"/><img src="static/picture/l02.png" alt="淘宝小号购买" width="47"
                                                                                                                                 height="49" class="shows" /></a></li>
        <li><a href="price.asp"><img src="static/picture/ll04.png" alt="淘宝小号购买" width="131" height="49"
                                     class="hides"/><img src="static/picture/l04.png" alt="淘宝小号购买" width="47" height="49" class="shows" /></a></li>
        <li><a href="channel.asp?id=17"><img src="static/picture/ll05.png" alt="淘宝小号购买" width="131" height="49" class="hides"/><img src="static/picture/l05.png" alt="淘宝小号购买" width="47"
                                                                                                                                    height="49" class="shows" /></a></li>
        <li><a id="top_btn"><img src="static/picture/ll06.png" alt="淘宝小号购买" width="131" height="49" class="hides"/><img src="static/picture/l06.png" alt="淘宝小号购买" width="47" height="49"
                                                                                                                        class="shows" /></a></li>
    </ul>
</div>
<script type="text/javascript">
    $(document).ready(function(){

        $("#leftsead a").hover(function(){
            if($(this).prop("className")=="youhui"){
                $(this).children("img.hides").show();
            }else{
                $(this).children("img.hides").show();
                $(this).children("img.shows").hide();
                $(this).children("img.hides").animate({marginRight:'0px'},'slow');
            }
        },function(){
            if($(this).prop("className")=="youhui"){
                $(this).children("img.hides").hide('slow');
            }else{
                $(this).children("img.hides").animate({marginRight:'-143px'},'slow',function(){$(this).hide();$(this).next("img.shows").show();});
            }
        });

        $("#top_btn").click(function(){if(scroll=="off") return;$("html,body").animate({scrollTop: 0}, 600);});

    });
</script>
</body>
</html>