.Jpay{width:100%;height:auto;}
.JLv{width:1000px; margin:0 auto;}
.Jpay .Main{ }
.Jpay .Shop{ width:100%;font-size:22px; height:160px;line-height:160px; background:url(../images/160.jpg) no-repeat center center;  border:1px solid #DEDEDE; color:#000; border-left:0; border-right:0;}
.Jpay .Shop .Name{width:860px; margin:0 auto; color:#FFF; }
.Jpay .Main .JieShao{width:948px;background:url(../images/shop.png) no-repeat 10px 5px; color:#64615C; padding-top:35px; padding-bottom:10px; padding-left:10px; border:1px solid #DEDEDE; background-color:#DEE8EA; font-size:14px; line-height:22px;}

/*.Jpay .Main .JieShao{ width:960px; clear:both; border-top:2px solid #2B6BA4; border-bottom:1px dashed #B0B0B0; color:#595959;  padding-bottom:20px; background-color:#E8E8E8; font-size:14px; line-height:22px;}
.Jpay .Main .JieShao h2{ width:960px; text-align:center; font-size:16px; height:29px; line-height:29px; font-weight:normal; border-bottom:1px dashed #FFF;color:#FFF;background-color:#212121}
.Jpay .Main .JieShao p{ width:940px; padding-left:10px; padding-top:10px;}
*/
.Jpay .Nav{ width:100%; height:41px; line-height:41px; background:url(../images/daohang.jpg) repeat-x;}
.Jpay .Nav-List{width:960px; margin:0 auto; position:relative;}
.Jpay .Nav-List .goodsType{padding-top:2px;float:left;}
.Jpay .Nav-List .goodsType a.All{ display:inline-block; padding-left:15px; height:37px; padding-right:15px; color:#FFF; font-size:15px; border:1px solid #FF6501;}
.Jpay .Nav-List a.Col{ display:inline-block; padding-left:15px; height:37px; padding-right:15px; font-size:15px; background-color:#FFF; color:#923804; border:1px solid #0078B5; border-bottom:1px solid #FFF; position:relative; z-index:999;}

.Jpay .Nav-List .Classify{ display:none; padding-left:15px; padding-right:30px;  border:1px solid #0078B5; background-color:#FFF; position:absolute; top:40px;}
.Jpay .Nav-List .Classify a{ display:inline-block; width:100%; height:25px; line-height:25px; color:#666; font-size:14px;}
.Jpay .Nav-List .Classify a:hover{ color:#2179C8;}
.Jpay .Nav-List ul{ padding-top:2px; float:left;}
.Jpay .Nav-List ul li{ float:left;}
.Jpay .Nav-List ul li a{ display:inline-block; padding-left:15px; height:37px; padding-right:15px; color:#FFF; font-size:15px; border:1px solid #FF6501;}
/*.Jpay .Nav-List ul li a.Type{ position:relative; z-index:999;}*/
.Jpay .Nav-List ul li a:hover{ background-color:#FFF; color:#923804; border:1px solid #0078B5; border-bottom:1px solid #FFF;}


.Jpay .Main .Commodity{ padding-top:0px; clear:both;}


.Jpay .Main .Commodity .Product{ width:998px;border:1px solid #59b1db; border-top:2px solid #2B6BA4; float:right; padding-bottom:15px;}
.Jpay .Main .Commodity .Product h3{ width:998px; border-bottom:1px solid #59b1db;}
.Jpay .Main .Commodity .Product .Product-List{ padding-left:1px;}
.Jpay .Main .Commodity .Product-List dl{width:194px; padding-right:4px; float:left; padding-top:10px; height:301px;}
.Jpay .Main .Commodity .Product-List dl dt{width:182px; border: 1px solid #59b1db; padding:1px; height:181px;}
.Jpay .Main .Commodity .Product-List dl dt img{width:182px;height:178px;}
.Jpay .Main .Commodity .Product-List dl dd{margin-left:1px;width:180px; color:#305BE4;}
.Jia{width: 182px; border: 1px solid #59b1db; padding: 1px; height: 120px;}
.Jpay .Main .Commodity .Product-List dl dd.Tit{ line-height:20px; margin-left:1px; text-align:center;font-size:14px; padding-top:0px}
.Jpay .Main .Commodity .Product-List dl dd span{ text-decoration:underline;}
.Jpay .Main .Commodity .Product-List dl dd b{  color:#FF443A; font-size:16px;}
.Jpay .Main .Commodity .Product-List dl dd a{ color:#B307FA;display:inline-block; height:20px; overflow:hidden;text-align:center;}

.tbs { border-collapse:collapse; font-size:12px; }
.tbs tr { height:20px; line-height:20px; }
.tbs td { padding:1px; background: none; border: none; text-align:left; color:#000; border:solid #EEEEE0 1px; height:20px; line-height:20px}
.tbs td span{ color:#B3B3B3;}
.tableclass5 { border-collapse:collapse; font-size:13px;
    width: 99%;
}
.tableclass5 tr { height:20px; line-height:20px; }
.tableclass5 td { padding:5px; background: none; border: none; text-align:left; color:#000; border:solid #EEEEE0 1px; line-height:25px
}
.input1{border-left: 1px solid #CCC;border-right: 1px solid #EEE;border-top: 1px solid #CCC; border-bottom: 1px solid #EEE;background: #F5F5F5;height:25px; line-height:25px}
.input2{border-left: 1px solid #CCC;border-right: 1px solid #EEE;border-top: 1px solid #CCC; border-bottom: 1px solid #EEE;background: #F5F5F5;}
.btn2 {FONT-SIZE: 14px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde);  CURSOR: hand; COLOR: black; BORDER: #7b9ebd 1px solid; padding:5px  } 
.btn{color: #3E3E3E !important; text-shadow: 1px 1px 0 #FFFFFF; background: #fdd901; repeat-x  0 0 ;  border: 1px solid #D4D4D4; white-space: nowrap; overflow: visible; cursor: pointer; text-decoration: none; border: 3px solid #D4D4D4; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; outline: none;
}
.btn-buynow{background-color: #fdd901;}
.btn-buynow:hover{background-color: #EF411A;}
.btn-signup{background-color: #006DCC;}
.btn-signup:hover{background-color: rgb(0,74,204);}
.btn-login{background-color: rgb(113,181,27);}
.btn-login:hover{background-color: rgb(147,199,25);}
.tablecss1{ table-layout:fixed;empty-cells:show; border-collapse: collapse; margin:0 auto; border:1px solid #cad9ea; color:#666;} 
.tablecss1 th { background-repeat:repeat-x; height:30px; } 
.tablecss1 td{ border:1px solid #cad9ea; padding:0 1em 0;height:30px; } 
.page{padding:15px; font-size:15px; font-weight:bold;border:solid #EEEEE0 1px}
.page2{padding:10px; font-size:15px;border:solid #EEEEE0 1px; height:auto; line-height:25px}
.span1{color:Red; font-size:15px;font-weight:bold;}
.span2{color:Green; font-size:15px;font-weight:bold;}
.span3{color:#8B8B7A; font-size:15px;}
.span4{color:#8B8B7A; font-size:15px;}
